<html>
<head></head>
<body>
<h3>Payment Transaction Status</h3>
<p>Hello {{firstName}},</p>
<p>A {{transactionType}} transaction of ({{currencySymbol}} {{amount}}) was carried out on your {{currencyName}} wallet.</p>
</body>
</html>